body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}
TD {
	font-family: Arial, Helvetica, sans-serif;
}
A:link {
	color: #008080;
	font-weight: 600;
	text-decoration: none;
}
A:visited {
	color: #008080;
	font-weight: 600;
	text-decoration: none;
}
A:active {
	color: #ba7025;
	font-weight: 600;
	text-decoration: none;
}
A:hover {
	color: #ba7025;
	font-weight: 600;
	text-decoration: underline;
}
img {
	border:1px solid black;
}
.none:visited {
	color: #596132;
}
.pictureLabel {
	text-align: center;
	font-weight: bold;
}
th.header{
	background-image: url(/images/bg.gif);
	background-repeat: no-repeat;
	background-position-x:right;
	background-position-y:center;
	background-color: #ffffff; 
	
}
th.headerSortUp {     
	background-image: url(/images/asc.gif);     
	background-repeat: no-repeat;
	background-position-x:right;
	background-position-y:center;
	background-color: #ffffff; 
} 

th.headerSortDown {     
	background-image: url(/images/desc.gif);
	background-repeat: no-repeat;
	background-position-x:right;
	background-position-y:center;
	background-color: #ffffFF; 
}

h2,h3,h4
{
    color:#ba7025;
    font-family:ARIAL;
}

.content
{
    padding:0px
}

.caption
{
    font-weight:bold
}

/*
.carousel {
	height: 336px;
	width: 448px;
}
.carousel-inner {
	height: 100%;
}
div {
	border:10px;
}
.item {
	 hight:100%;
 }

img{
	height:100%
}*/

.jumbotron {
	background-color: #ba7025; /* Orange */
	color: #ffffff;
}
