vti_encoding:SR|utf8-nl
vti_author:SR|NERO\\Rohan
vti_modifiedby:SR|NERO\\Rohan
vti_timelastmodified:TR|21 Nov 2012 10:26:29 -0000
vti_timecreated:TR|04 Jun 2012 10:18:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|geology.php fire.php ourmap.php list_copy(1).php dam.php dam/2009.php fauna.php members.php news.php dam/2007.php dam/2008.php birds.php about.php pictures.php ridge.php walks.php dam/2005.php dam/2006.php listnew.php list(old).php dam/2012.php dam/2004.php map.php other.php dam/2011.php dam/2010.php list.php flora.php previous.php dam/2004_copy(1).php workpart.php
vti_nexttolasttimemodified:TW|21 Nov 2012 10:16:59 -0000
vti_syncofs_101.0.66.80\:21/public_html:TW|21 Nov 2012 10:27:57 -0000
vti_syncwith_101.0.66.80\:21/public_html:TX|21 Nov 2012 10:26:29 -0000
vti_cacheddtm:TX|21 Nov 2012 10:26:29 -0000
vti_filesize:IR|1229
vti_cachedlinkinfo:VX|S|/images/bg.gif S|/images/asc.gif S|/images/desc.gif
vti_cachedsvcrellinks:VX|NSUS|/images/bg.gif NSUS|/images/asc.gif NSUS|/images/desc.gif
